$color-primary: #2e91fc;
$color-primary-light: #84a9ff;
$color-primary-dark: #1939b7;

$color-success: #43ba2e;
$color-info: #3ccaf2;
$color-danger: #ff5035;

$color-grey: #fafafa;
$color-grey-dark: #c7c7c7;

$color-white: #fff;

$color-text: #2c3e50;

// font
$default-font: 1.6rem;
