@import './variables';
@import './utils';
@import './components';

html {
  font-size: 62.5%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #2c3e50;
}

ul {
  list-style-type: none;
}
a,
a:link,
a:visited {
  font-size: $default-font;
  color: $color-text;
}

.action-link {
  font-size: 2.5rem;
  a {
    color: $color-primary-light;
  }
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}
